# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/contentModel.xml
/.idea.PhysicsCode.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../:\Users\thelm2331\Desktop\Abscond\Abscond\Assets\Characters\Scripts\PhysicsCode\.idea\.idea.PhysicsCode.dir\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
